<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
  </head>
  
  <body>
      <div class="video-container">
          <img src="http://192.168.0.128:5001/video" onClick="location.href='video1'" class="video" id="video1"></img>
          <img src="http://192.168.0.128:5001/video" class="video"></img>
          <img src="/static/image/noSignal.png" class="video"></img>
          <img src="/static/image/noSignal.png" class="video"></img>
      </div>
  </body>
</html>