<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="static/css/video1.css" type="text/css">
  </head>
  
  <body>
      <div class="video-container">
        <img src="{{url_for('static', filename='save_video/' + video)}}" class="video" id="lastVideo">
      </div>
      <br><br>
      <div class="face-container">
        {% for img in face %}
        <img src="{{url_for('static', filename='save_img/' + img)}}" class="face">
        {% endfor %}
      </div>
  </body>
</html>