.video-container {
  display: inline;
  justify-content: center;
  text-align: center;
  height:0;
}

.wrap{
  position: relative;
  width: 1220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera{
  width: 600px;
  float:left;
  margin: 5px;
}

.video {
  width: 600px;
  height: auto;
  object-fit: cover;
}

#camera_1.check{
  position: absolute;
  top: 50%;
  left: 50%
}

.btnss{
  display: inline;
  width: 60px;
  position: relative;
  left: 44%;
}

.btnss.button{
  margin: 7px;
}